.loaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.spinner {
  width: 35px;
  height: 35px;
  border: 3px solid #f6bd213b;
  border-top: 3px solid #b473bd;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

.text {
  font-size: 16px;
  font-weight: bold;
  color: #b473bd;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
