button {
}
.regularButton {
  background-color: #b473bd;
  border: 0.5px solid transparent;
  border-radius: 8px;
  border-color: #f6bd21;
  color: #f5e652;
  margin-left: 10px;
  padding: 10px 20px;
  transition: border-color 0.25s;
}
