div.pokemon-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
div.pokemon-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: grid;
  grid-template-columns: 26rem 26rem;
}

li > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
li > div > strong,
p {
  padding: 1rem;
  width: 5rem;
  height: auto;
  display: flex;
}
