.link {
  color: var(--primary-violet);
  font-weight: bold;
  font-size: 1.17em;
}
.link:hover {
  color: var(--yellow);
}

ul.header-panel {
  padding: 8px;
  list-style: none;
  margin: 0px;
  display: flex;
  gap: 1rem;
  transition: 0.3s;
}
ul.header-panel > li:hover {
  color: #f5e652;
  cursor: grab;
}
