h2 {
  margin: 12px 0;
  border-radius: 6px;
  background-color: #f792b5;
}
p.userInfo {
  margin: 8px 0;
  color: #ff367f;
  border-radius: 6px;
  background-color: #ffffff65;
}

div.userProfile {
  border: 2px solid #f792b5;
  border-radius: 8px;
  padding: 16px;
  margin: 20px auto;
  min-width: 350px;
  background-color: #ffffff39;
  box-shadow: 0 4px 32px #ffffff78;
}

div.userProfileUpdated {
  border: 3px solid #ffb3268d;
  border-radius: 8px;
  padding: 16px;
  margin: 20px auto;
  min-width: 350px;
  box-shadow: 0 4px 32px #ffffff78;
  background: #f792b5;
}
strong {
  color: #ffffffae;
}
.photo {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid #f792b5;
}
